{% extends "security/layout.html" %}
{% block content %}
  <h1>Đăng nhập</h1>
  
  <form method="POST" class="login" action="{{ url_for('security.login') }}">
    {{ login_user_form.hidden_tag() }}

    {{ login_user_form.email.label }} {{ login_user_form.email() }}<br>

    {% if login_user_form.email.errors %}
      <ul class="errors">
      {% for error in login_user_form.email.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}

    {{ login_user_form.password.label }} {{ login_user_form.password() }}<br>

    {% if login_user_form.password.errors %}
      <ul class="errors">
      {% for error in login_user_form.password.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}

    {{ login_user_form.submit() }}
  </form>
  <p>
    <a href="/register">Đăng ký tài khoản mới</a>
  </p>
  <p>
    <a href="{{ url_for('security.forgot_password') }}">Quên mật khẩu?</a>
  </p>
{% endblock %}
