{% extends "security/layout.html" %}
{% block content %}
  <h1>Đăng ký tài khoản mới</h1>
  {{ register_user_form.hidden_tag() }}
  <form method="POST" action="{{ url_for('security.register') }}" class="login">
    {{ register_user_form.hidden_tag() }}

    {{ register_user_form.email.label }}
    {{ register_user_form.email }}

    {{ register_user_form.password.label }}
    {{ register_user_form.password }}

    {{ register_user_form.password_confirm.label }}
    {{ register_user_form.password_confirm }}

    {{ register_user_form.submit }}
</form>

  <p>
    <a href="/register">Đăng ký tài khoản mới</a>
  </p>
  <p>
    <a href="{{ url_for('security.forgot_password') }}">Quên mật khẩu?</a>
  </p>
{% endblock %}
