{% extends "base.html" %}


{% block title %}Thêm câu hỏi- trả lời{% endblock %}

{% block content %}
<div class="title">Thêm câu hỏi - trả lời</div>
<div class="action">
    <a href="" class="btn btn-add">Thêm mới</a>
</div>
<form>
    <div class="form-group">
        <label>Câu hỏi</label>
        <input type="text" name="question" value="" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Câu trả lời</label>
        <input type="text" name="answer" value="" class="form-control"/>
    </div>
</form>
{% endblock %}