{% extends "base.html" %}

{% block content %}
<h4 class="text-center">Quản lý câu trả lời cho ý định</h1>

<!-- Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<style>
  .form-intent label{
    width: 150px;
    float: left;
  }
  .form-intent input {
    width: -webkit-fill-available;
  }
</style>
<!-- Add Chatbot Response Form -->
<div class="card mb-4">
  <div class="card-header">Thêm câu hỏi</div>
  <div class="card-body">
    <form method="POST" action="/intent_response" class="form-intent">
      <div class="mb-3">
        <label for="response_text" class="form-label">Câu trả lời</label>
        <input class="form-control" id="response_text" name="response_text" required placeholder="Nhập câu trả lời" />
      </div>
      <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
  </div>
</div>

<table class="table table-bordered">
  <thead class="table-light">
    <tr>
      <th>#</th>
      <th>Câu trả lời</th>
      <th>Ngày tạo</th>
      <th style="width: 150px;">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for intent_response in intent_responses %}
    <tr>
      <td>{{ intent_response.id }}</td>
      <td>
        <form method="POST" action="/intent_response/update/{{ intent_response.id }}" class="d-inline">
          <input type="text" name="response_text" class="form-control" value="{{ intent_response.response_text}}"  required >
      </td>
      <td><span>{{ intent_response.created_at }}</span></td>
      <td>
          <button type="submit" class="btn btn-success btn-sm">Save</button>
        </form>
        <form method="POST" action="/intent_response/delete/{{ intent_response.id }}" class="d-inline">
          <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}